<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="/Admin/css/bootstrap-theme.css">
    <!-- Bootstrap rtl -->
    <link rel="stylesheet" href="/Admin/css/rtl.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/Admin/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="/Admin/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="/Admin/css/AdminLTE.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="/Admin/css/_all-skins.min.css">
    <link rel="shortcut icon" type="image/x-icon" href="/MainSite/assets/images/logo-icon.png" />

    @await RenderSectionAsync("Styles", false)

</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">

        <header class="main-header">
            <!-- Logo -->
            <a href="#" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini">پنل</span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>کنترل پنل مدیریت</b></span>
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- User Account: style can be found in dropdown.less -->
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                                <img src="/Images/Static/user-icon-jpg-29.jpg" class="user-image" alt="User Image">
                                <span class="hidden-xs">علیرضا حسینی زاده</span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- User image -->
                                <li class="user-header">
                                    <img src="/Images/Static/user-icon-jpg-29.jpg" class="img-circle" alt="User Image">

                                    <p>
                                        @User.Identity.Name
                                        <small>مدیریت کل سایت</small>
                                    </p>
                                </li>
                                <!-- Menu Body -->
                                <li class="user-body">
                                    <div class="row">
                                        <div class="col-xs-4 text-center">
                                            <a href="#">صفحه من</a>
                                        </div>
                                    </div>
                                    <!-- /.row -->
                                </li>
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-right">
                                        <a href="#" class="btn btn-default btn-flat">پروفایل</a>
                                    </div>
                                    <div class="pull-left">
                                        <a href="/Logout" class="btn btn-default btn-flat">خروج</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- right side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar user panel -->
                <div class="user-panel">
                    <div class="pull-right image">
                        <img src="/Images/Static/user-icon-jpg-29.jpg" class="img-circle" alt="User Image">
                    </div>
                    <div class="pull-right info">
                        <p>@User.Identity.Name</p>
                        <a href="#"><i class="fa fa-circle text-success"></i> آنلاین</a>
                    </div>
                </div>

                <!-- sidebar menu: : style can be found in sidebar.less -->
                <ul class="sidebar-menu" data-widget="tree">
                    <li class="header">منو</li>
                    <li>
                        <a href="/Admin"><i class="fa fa-dashboard"></i> <span>داشبرد</span></a>
                    </li>
                    <li>
                        <a href="/Admin/Category"><i class="fa fa-object-ungroup"></i> <span>دسته بندی</span></a>
                    </li>
                    <li>
                        <a href="/Admin/Banner"><i class="fa fa-file-movie-o"></i> <span>بنرها</span></a>
                    </li>
                    <li>
                        <a href="/Admin/Slider"><i class="fa fa-photo"></i> <span>اسلایدها</span></a>
                    </li>
                    <li>
                        <a href="/Admin/Book"><i class="fa fa-book"></i> <span>کتاب ها</span></a>
                    </li>
                    <li>
                        <a href="/Admin/Comment"><i class="fa fa-comment"></i> <span>نظرات</span></a>
                    </li>
                    <li>
                        <a href="/Admin/User"><i class="fa fa-user"></i> <span>کاربران</span></a>
                    </li>
                    <li>
                        <a href="/Admin/UserBook"><i class="fa fa-address-book"></i> <span>امانت کتاب</span></a>
                    </li>
                    <li>
                        <a href="/Admin/Message"><i class="fa fa-mail-bulk"></i> <span>پیام ها</span></a>
                    </li>
                    <li>
                        <a href="/Admin/Team"><i class="fa fa-users"></i> <span>کارکنان</span></a>
                    </li>
                </ul>
            </section>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            @RenderBody()
        </div>
        <!-- /.content-wrapper -->
        <footer class="main-footer text-left">
        </footer>
    </div>

    <div class="modal fade in" id="myModal" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title">Default مدال</h4>
                </div>
                <div class="modal-body" id="modalText">
                    <p>محتوا</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">خروج</button>
                    <a class="btn btn-primary" href="#">ذخیره</a>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- ./wrapper -->
    <!-- jQuery 3 -->
    <script src="/Admin/js/jquery.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="/Admin/js/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
        $.widget.bridge('uibutton', $.ui.button);
    </script>
    <!-- Bootstrap 3.3.7 -->
    <script src="/Admin/js/bootstrap.min.js"></script>
    <!-- Slimscroll -->
    <script src="/Admin/js/jquery.slimscroll.min.js"></script>
    <!-- AdminLTE App -->
    <script src="/Admin/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    @await RenderSectionAsync("Scripts", false)
</body>
</html>
