<main class="main">
    <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
        <div class="container d-flex align-items-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index-1.html">خانه</a></li>
                <li class="breadcrumb-item"><a href="#">محصولات</a></li>
                <li class="breadcrumb-item active" aria-current="page">پیش فرض</li>
            </ol>

        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->

    <div class="page-content">
        <div class="container">
            <div class="product-details-top">
                <div class="row">
                    <div class="col-md-6">
                        <div class="product-gallery product-gallery-vertical">
                            <div class="row">
                                <figure class="product-main-image">
                                    <img id="product-zoom" src="/MainSite/assets/images/demos/demo-20/products/product-11.jpg" alt="تصویر محصول">
                                </figure><!-- End .product-main-image -->
                            </div><!-- End .row -->
                        </div><!-- End .product-gallery -->
                    </div><!-- End .col-md-6 -->

                    <div class="col-md-6">
                        <div class="product-details">
                            <h1 class="product-title">لباس زنانه رنگ زرد تیره</h1>
                            <!-- End .product-title -->
                            <div class="product-cat text-right">
                                <span>نام نویسنده : </span>
                                <a href="#">زنانه</a>
                            </div>
                            <div class="product-cat text-right mt-1">
                                <span>نام ناشر : </span>
                                <a href="#">زنانه</a>
                            </div>
                            <div class="product-cat text-right mt-1">
                                <span>تاریخ انتشار </span>
                                <a href="#">زنانه</a>
                            </div>
                            <div class="product-cat text-right mt-1 mb-3">
                                <span>تاریخ ورود : </span>
                                <a href="#">زنانه</a>
                            </div>

                            <div class="product-content">
                                <p>
                                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن ساختگی با تولید
                                    سادگی نامفهوم لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن
                                    ساختگی با تولید سادگی نامفهوم
                                </p>
                            </div><!-- End .product-content -->

                            <div class="product-details-action">
                                <a href="#" class="btn-product btn-cart"><span>افزودن به سبد خرید</span></a>

                                <div class="details-action-wrapper">
                                    <a href="#" class="btn-product btn-wishlist" title="لیست علاقه مندی">
                                        <span>افزودن به علاقه مندی</span>
                                    </a>
                                </div><!-- End .details-action-wrapper -->
                            </div><!-- End .product-details-action -->

                            <div class="product-details-footer">
                                <div class="product-cat text-center">
                                    <span>دسته بندی : </span>
                                    <a href="#">زنانه</a>
                                </div><!-- End .product-cat -->

                                <div class="social-icons social-icons-sm">
                                    <span class="social-label">اشتراک گذاری : </span>
                                    <a href="#" class="social-icon" title="فیسبوک" target="_blank"><i class="icon-facebook-f"></i></a>
                                    <a href="#" class="social-icon" title="توییتر" target="_blank"><i class="icon-twitter"></i></a>
                                    <a href="#" class="social-icon" title="اینستاگرام" target="_blank"><i class="icon-instagram"></i></a>
                                    <a href="#" class="social-icon" title="پینترست" target="_blank"><i class="icon-pinterest"></i></a>
                                </div>
                            </div><!-- End .product-details-footer -->
                        </div><!-- End .product-details -->
                    </div><!-- End .col-md-6 -->
                </div><!-- End .row -->
            </div><!-- End .product-details-top -->

            <div class="product-details-tab">
                <ul class="nav nav-pills justify-content-center" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="product-desc-link" data-toggle="tab" href="#product-desc-tab" role="tab" aria-controls="product-desc-tab" aria-selected="true">توضیحات</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="product-review-link" data-toggle="tab" href="#product-review-tab" role="tab" aria-controls="product-review-tab" aria-selected="false">نظرات (2)</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade active show" id="product-desc-tab" role="tabpanel" aria-labelledby="product-desc-link">
                        <div class="product-desc-content">
                            <h3>اطلاعات محصول</h3>
                            <p>
                                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن ساختگی با تولید
                                سادگی نامفهوم لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن
                                ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن ساختگی با تولید سادگی نامفهوملورم
                                ایپسوم متن ساختگی با تولید سادگی نامفهوملورم ایپسوم متن ساختگی با تولید سادگی
                                نامفهوم.
                            </p>
                        </div><!-- End .product-desc-content -->
                    </div><!-- .End .tab-pane -->
                    <div class="tab-pane fade" id="product-review-tab" role="tabpanel" aria-labelledby="product-review-link">
                        <div class="reviews">
                            <div class="review">
                                <div class="row no-gutters">
                                    <div class="col-auto">
                                        <h4><a href="#">کاربر 1</a></h4>
                                        <span class="review-date">4 روز پیش</span>
                                    </div><!-- End .col -->
                                    <div class="col-12">
                                        <div class="review-content">
                                            <p>
                                                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم،لورم ایپسوم متن
                                                ساختگی با تولید سادگی نامفهوم، لورم ایپسوم متن ساختگی با تولید
                                                سادگی نامفهوم لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم!
                                            </p>
                                            <a href="#" class="btn-success">جواب به کامنت <i class="icon-arrow-left"></i></a>
                                        </div><!-- End .review-content -->
                                    </div><!-- End .col-auto -->
                                </div><!-- End .row -->
                                <div>
                                    <div class="row no-gutters alert alert-secondary">
                                        <div class="col-auto">
                                            <h4><i class="icon-arrow-left"></i><b>جواب ادمین</b></h4>
                                            <span class="review-date">4 روز پیش</span>
                                        </div><!-- End .col -->
                                        <div class="col-12">
                                            <div class="review-content">
                                                <p>
                                                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم،لورم ایپسوم متن
                                                    ساختگی با تولید سادگی نامفهوم، لورم ایپسوم متن ساختگی با تولید
                                                    سادگی نامفهوم لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم!
                                                </p>
                                                <a href="#" class="btn-success">جواب به کامنت <i class="icon-arrow-left"></i></a>
                                            </div><!-- End .review-content -->
                                        </div><!-- End .col-auto -->
                                    </div><!-- End .row -->
                                </div>
                            </div><!-- End .review -->

                        </div><!-- End .نظر -->
                    </div><!-- .End .tab-pane -->
                </div><!-- End .tab-content -->
            </div><!-- End .product-details-tab -->

        </div><!-- End .container -->
    </div><!-- End .page-content -->
</main>