.header-top {
    margin-top: 0.5em;
}

.product-label.label-new {
    color: #fff;
    background-color: red;
    font-weight: bold;
}


.product-action-vertical {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
}

.product {
    border: none;
}

.header-top {
    margin-top: 0.5em;
}

.owl-theme .owl-nav [class*='owl-'] {
    color: #3399ff;
}

    .owl-theme .owl-nav [class*='owl-']:not(.disabled):hover {
        border-color: #3399ff;
        background: #3399ff;
    }

.owl-theme.owl-light .owl-nav [class*='owl-']:not(.disabled):hover {
    border-color: #3399ff;
}

.owl-theme.owl-light .owl-dots .owl-dot:hover span {
    border-color: #3399ff;
    background: #3399ff;
}

.owl-theme.owl-light .owl-dots .owl-dot.active span {
    border-color: #3399ff;
    background: #3399ff;
}

.owl-full .owl-nav [class*='owl-'] {
    color: #3399ff;
}

    .owl-full .owl-nav [class*='owl-']:hover, .owl-full .owl-nav [class*='owl-']:focus {
        color: #3399ff;
    }

.owl-full .owl-dots .owl-dot span {
    border-color: #3399ff;
}

.owl-full .owl-dots .owl-dot:hover span {
    border-color: #3399ff;
    background: #3399ff;
}

.owl-full .owl-dots .owl-dot.active span {
    border-color: #3399ff;
    background: #3399ff;
}

.owl-full.owl-nav-dark .owl-nav [class*='owl-']:hover, .owl-full.owl-nav-dark .owl-nav [class*='owl-']:focus {
    color: #3399ff;
}

.owl-simple .owl-nav [class*='owl-']:not(.disabled):hover {
    color: #3399ff;
}

.owl-simple.owl-light .owl-dots .owl-dot:hover span {
    border-color: #3399ff;
    background: #3399ff;
}

.owl-simple.owl-light .owl-dots .owl-dot.active span {
    border-color: #3399ff;
    background: #3399ff;
}

.quickView-content .owl-theme.owl-light .owl-nav [class*='owl-'] {
    border: none;
    font-size: 3rem;
    color: #fff;
}

    .quickView-content .owl-theme.owl-light .owl-nav [class*='owl-']:hover, .quickView-content .owl-theme.owl-light .owl-nav [class*='owl-']:focus {
        color: #3399ff;
        background-color: transparent;
    }


.owl-theme .owl-nav [class*='owl-'] {
    width: 3.2rem;
    height: 3.2rem;
    font-size: 2rem;
    margin-top: -1.6rem;
}

.owl-theme.owl-nav-inside .owl-nav .owl-prev {
    left: 50%;
    margin-left: -584px;
}

.owl-theme.owl-nav-inside .owl-nav .owl-next {
    right: 50%;
    margin-right: -584px;
}

.owl-theme.owl-light .owl-nav [class*='owl-'] {
    border-color: rgba(255, 255, 255, 0.7);
    background-color: rgba(255, 255, 255, 0.7);
    color: #ccc;
}

.owl-theme.owl-nav-inside .owl-dots {
    bottom: 20px;
}

.owl-full .owl-dots {
    bottom: -2rem;
}

.owl-theme .owl-nav [class*='owl-'] {
    width: 4rem;
    height: 4rem;
    font-size: 2.2rem;
    margin-top: -2rem;
}

.intro-slider-container,
.intro-slide {
    height: 310px;
    background-color: #f5f6f9;
}

.intro-slide {
    display: flex;
    align-items: center;
    background-size: cover;
    background-position: center center;
}

    .intro-slide .intro-content {
        position: static;
        left: auto;
        top: auto;
        transform: translateY(0);
        -ms-transform: translateY(0);
    }

@media screen and (min-width: 576px) {

    .intro-slider-container,
    .intro-slide {
        height: 360px;
    }
}

@media screen and (min-width: 992px) {
    .intro-slider-container,
    .intro-slide {
        height: 400px;
    }
}


.product-label.label-new {
    color: #fff;
    background-color: red;
    font-weight: bold;
}