@model UniversityProject.Core.DTOs.DashboardDto
@{
    var counter = 1;
    var cartCounter = 1;
    var oldCounter = 1;
}

<main class="main">
    <div class="page-header text-center" style="background-image: url('/Images/Static/page-header-bg.jpg')">
        <div class="container">
            <h1 class="page-title">داشبورد<span></span></h1>
        </div><!-- End .container -->
    </div><!-- End .page-header -->
    <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">خانه</a></li>
                <li class="breadcrumb-item active" aria-current="page">داشبورد</li>
            </ol>
        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->

    <div class="page-content">
        <div class="dashboard">
            <div class="container">
                <div class="row">
                    <aside class="col-md-4 col-lg-3">
                        <ul class="nav nav-dashboard flex-column mb-3 mb-md-0" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active">جزئیات حساب کاربری</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/ShoppingCart">امانات</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/FavoriteBook">لیست علاقه مندی</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/History">تاریخچه</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Logout">خروج از حساب کاربری</a>
                            </li>
                        </ul>
                    </aside><!-- End .col-lg-3 -->

                    <div class="col-md-8 col-lg-9">
                        <div class="tab-content">

                            <div class="tab-pane fade active show">
                                <form action="/UpdateUserInformation" method="post">
                                    <label>نام و نام خانوادگی *</label>
                                    <input type="text" class="form-control" asp-for="LoginDto.Name" required="required"
                                           oninvalid="this.setCustomValidity('نام را وارد نمایید')" oninput="this.setCustomValidity('')">
                                    <small class="form-text">
                                        این نام در قسمت نظرات و حساب کاربری شما
                                        نمایش داده می شود.
                                    </small>

                                    <label>شماره تماس *</label>
                                    <input type="text" class="form-control" asp-for="LoginDto.Username" required="required"
                                           oninvalid="this.setCustomValidity('نام کاربری را وارد نمایید')" oninput="this.setCustomValidity('')">

                                    <label>پسورد جدید</label>
                                    <input type="password" class="form-control" asp-for="LoginDto.Password">

                                    <label>تکرار پسورد جدید</label>
                                    <input type="password" class="form-control mb-2" asp-for="LoginDto.RePassword">

                                    <button type="submit" class="btn btn-outline-primary-2 float-right">
                                        <span>ذخیره تغییرات</span>
                                        <i class="icon-long-arrow-left"></i>
                                    </button>
                                </form>
                            </div><!-- .End .tab-pane -->
                        </div>
                    </div><!-- End .col-lg-9 -->
                </div><!-- End .row -->
            </div><!-- End .container -->
        </div><!-- End .dashboard -->
    </div><!-- End .page-content -->
</main>

@section Scripts
{
    <script>
        if ('@ViewBag.ShowModal' == 'true') {
            $("#errorText").html("@ViewBag.ModalText");
            $("#errorModal").modal("show");
        }
        else if ('@ViewBag.InfoModal'=='true') {
            $("#info-text").html("@ViewBag.ModalText");
            $("#info-modal").modal("show");
        }
    </script>
}
