 <!-- Comment Modal -->
<div class="modal fade" id="comment-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="icon-close"></i></span>
                </button>
                <div class="form-box">
                    <div class="form-tab">
                        <ul class="nav nav-pills nav-fill nav-border-anim" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="comment-tab" data-toggle="tab" href="#signin"
                                   role="tab" aria-controls="comment" aria-selected="true">نظر شما</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="tab-content-6">
                            <div class="tab-pane fade show active" id="comment" role="tabpanel"
                                 aria-labelledby="signin-tab">
                                <form method="post" action="/AddComment">
                                    <div class="form-group">
                                        <input type="hidden" id="bookId" name="bookId" />
                                        <input type="hidden" id="commentId" name="commentId" />
                                        <input type="hidden" id="isAnswer" name="isAnswer" />
                                        <input type="hidden" id="parentId" name="parentId" />
                                        <input type="hidden" id="pageId" name="pageId" value="@ViewBag.PageId" />
                                        <label for="singin-email">متن نظر *</label>
                                        <textarea class="form-control" id="comment-text" name="commentText" required="required" placeholder="متن نظر"
                                           oninvalid="this.setCustomValidity('کد ارسالی را وارد نمایید')" oninput="this.setCustomValidity('')"></textarea>
                                    </div><!-- End .form-group -->
                                    <div class="form-footer">
                                        <button type="submit" class="btn btn-outline-primary-2" onclick="closeComment()">
                                            <span>ثبت نظر</span>
                                            <i class="icon-long-arrow-left"></i>
                                        </button>
                                    </div><!-- End .form-footer -->
                                </form>
                            </div><!-- .End .tab-pane -->
                        </div><!-- End .tab-content -->
                    </div><!-- End .form-tab -->
                </div><!-- End .form-box -->
            </div><!-- End .modal-body -->
        </div><!-- End .modal-content -->
    </div><!-- End .modal-dialog -->
</div><!-- End .modal -->