<div class="modal fade" id="info-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body rtl">
                <div class="form-box">
                    <h3>عملیات موفق</h3>
                    <hr style="border-top: 3px solid blue;" />
                    <div id="info-text"></div><!-- End .form-tab -->
                </div><!-- End .form-box -->
            </div><!-- End .modal-body -->
        </div><!-- End .modal-content -->
    </div><!-- End .modal-dialog -->
</div>