<div class="modal fade" id="message-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body rtl">
                <div class="form-box">
                    <h3>با تشکر از پیام شما</h3>
                    <hr style="border-top: 3px solid green;" />
                    <div id="message-text">با تشکر از پیام شما .به زودی به شماره تماس یا ایمیل وارد شده شما جواب خواهیم داد ، برای پیگیری جواب از راه های ارتباطی ما هم می توانید استفاده کنید</div><!-- End .form-tab -->
                </div><!-- End .form-box -->
            </div><!-- End .modal-body -->
        </div><!-- End .modal-content -->
    </div><!-- End .modal-dialog -->
</div>